<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>beibaotankuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,991}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,991}}</string>
                <key>sourceSize</key>
                <string>{938,991}</string>
            </dict>
            <key>gezi01.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,394},{390,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
            <key>gezi02.png</key>
            <dict>
                <key>frame</key>
                <string>{{995,2},{390,390}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,390}}</string>
                <key>sourceSize</key>
                <string>{390,390}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>guaiwubeibao.png</string>
            <key>size</key>
            <string>{1387,942}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06174711ebfe61c3a41d987f0764ade7$</string>
            <key>textureFileName</key>
            <string>guaiwubeibao.png</string>
        </dict>
    </dict>
</plist>
