<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-GK08-1-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,375},{304,308}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,308}}</string>
                <key>sourceSize</key>
                <string>{304,308}</string>
            </dict>
            <key>SL-GK08-1-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,337},{331,277}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{331,277}}</string>
                <key>sourceSize</key>
                <string>{331,277}</string>
            </dict>
            <key>SL-GK08-1-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{354,371}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,371}}</string>
                <key>sourceSize</key>
                <string>{354,371}</string>
            </dict>
            <key>SL-GK08-1-DA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{792,2},{333,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,281}}</string>
                <key>sourceSize</key>
                <string>{333,281}</string>
            </dict>
            <key>SL-GK08-2-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,755},{254,178}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,178}}</string>
                <key>sourceSize</key>
                <string>{254,178}</string>
            </dict>
            <key>SL-GK08-2-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,2},{222,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,251}}</string>
                <key>sourceSize</key>
                <string>{222,251}</string>
            </dict>
            <key>SL-GK08-2-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,685},{256,280}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,280}}</string>
                <key>sourceSize</key>
                <string>{256,280}</string>
            </dict>
            <key>SL-GK08-3-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{965,670},{288,282}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,282}}</string>
                <key>sourceSize</key>
                <string>{288,282}</string>
            </dict>
            <key>SL-GK08-3-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,226},{228,223}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{228,223}}</string>
                <key>sourceSize</key>
                <string>{228,223}</string>
            </dict>
            <key>SL-GK08-3-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1497,504},{230,225}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{230,225}}</string>
                <key>sourceSize</key>
                <string>{230,225}</string>
            </dict>
            <key>SL-GK08-3-DA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1505,736},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SL-GK08-3-IT01-jiantou.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,375},{39,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,47}}</string>
                <key>sourceSize</key>
                <string>{39,47}</string>
            </dict>
            <key>SL-GK08-3-TM01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1417,253},{249,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,246}}</string>
                <key>sourceSize</key>
                <string>{249,246}</string>
            </dict>
            <key>SL-GK08-3-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1249,504},{249,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,246}}</string>
                <key>sourceSize</key>
                <string>{249,246}</string>
            </dict>
            <key>SL-GK08-3-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1323,2},{249,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,246}}</string>
                <key>sourceSize</key>
                <string>{249,246}</string>
            </dict>
            <key>SL-GK08-3-TM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1169,253},{249,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,246}}</string>
                <key>sourceSize</key>
                <string>{249,246}</string>
            </dict>
            <key>SL-GK08-3-TM04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1075,2},{249,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,246}}</string>
                <key>sourceSize</key>
                <string>{249,246}</string>
            </dict>
            <key>SL-GK08-4-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,742},{225,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{225,217}}</string>
                <key>sourceSize</key>
                <string>{225,219}</string>
            </dict>
            <key>SL-GK08-4-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,742},{225,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{225,217}}</string>
                <key>sourceSize</key>
                <string>{225,219}</string>
            </dict>
            <key>SL-GK08-4-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{225,217}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{225,217}}</string>
                <key>sourceSize</key>
                <string>{225,219}</string>
            </dict>
            <key>SL-GK08-4-IT01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,439},{301,580}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{301,580}}</string>
                <key>sourceSize</key>
                <string>{301,580}</string>
            </dict>
            <key>SL-GK08-4-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{435,432}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{435,432}}</string>
                <key>sourceSize</key>
                <string>{435,432}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK08-IT.png</string>
            <key>size</key>
            <string>{1917,961}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0102e75dcbc3d9d265cd3ed9aa695941$</string>
            <key>textureFileName</key>
            <string>SL-GK08-IT.png</string>
        </dict>
    </dict>
</plist>
