<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-MAP-DIAN.png</key>
            <dict>
                <key>frame</key>
                <string>{{1062,151},{34,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,34}}</string>
                <key>sourceSize</key>
                <string>{34,34}</string>
            </dict>
            <key>SL-MAP-LOGO.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{231,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,226}}</string>
                <key>sourceSize</key>
                <string>{231,226}</string>
            </dict>
            <key>SL-MAP-N01.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,178},{59,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{59,66}}</string>
                <key>sourceSize</key>
                <string>{59,66}</string>
            </dict>
            <key>SL-MAP-N02.png</key>
            <dict>
                <key>frame</key>
                <string>{{997,151},{63,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,69}}</string>
                <key>sourceSize</key>
                <string>{63,69}</string>
            </dict>
            <key>SL-MAP-N03.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,178},{65,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,73}}</string>
                <key>sourceSize</key>
                <string>{65,73}</string>
            </dict>
            <key>SL-MAP-N04.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,178},{64,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,76}}</string>
                <key>sourceSize</key>
                <string>{64,76}</string>
            </dict>
            <key>SL-MAP-N05.png</key>
            <dict>
                <key>frame</key>
                <string>{{934,151},{61,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,73}}</string>
                <key>sourceSize</key>
                <string>{61,73}</string>
            </dict>
            <key>SL-MAP-N06.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,178},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>SL-MAP-N07.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,178},{64,77}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,77}}</string>
                <key>sourceSize</key>
                <string>{64,77}</string>
            </dict>
            <key>SL-MAP-N08.png</key>
            <dict>
                <key>frame</key>
                <string>{{675,178},{64,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,71}}</string>
                <key>sourceSize</key>
                <string>{64,71}</string>
            </dict>
            <key>SL-MAP-N09.png</key>
            <dict>
                <key>frame</key>
                <string>{{523,178},{64,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,75}}</string>
                <key>sourceSize</key>
                <string>{64,75}</string>
            </dict>
            <key>SL-MAP-N10.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,151},{95,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,60}}</string>
                <key>sourceSize</key>
                <string>{95,60}</string>
            </dict>
            <key>SL-MAP-N11.png</key>
            <dict>
                <key>frame</key>
                <string>{{873,151},{94,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,59}}</string>
                <key>sourceSize</key>
                <string>{94,59}</string>
            </dict>
            <key>SL-MAP-N12.png</key>
            <dict>
                <key>frame</key>
                <string>{{748,151},{95,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,61}}</string>
                <key>sourceSize</key>
                <string>{95,61}</string>
            </dict>
            <key>SL-MAP-TP1-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{568,2},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>SL-MAP-TP1-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{399,2},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>SL-MAP-TP1-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{167,174}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,174}}</string>
                <key>sourceSize</key>
                <string>{167,174}</string>
            </dict>
            <key>SL-MAP-TP2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,2},{147,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,133}}</string>
                <key>sourceSize</key>
                <string>{147,133}</string>
            </dict>
            <key>SL-MAP-TP2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{147,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,133}}</string>
                <key>sourceSize</key>
                <string>{147,133}</string>
            </dict>
            <key>SL-MAP-TP2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{737,2},{147,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,133}}</string>
                <key>sourceSize</key>
                <string>{147,133}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-MAP-IT.png</string>
            <key>size</key>
            <string>{1142,248}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:50046308361eb67301240617c4706e35$</string>
            <key>textureFileName</key>
            <string>SL-MAP-IT.png</string>
        </dict>
    </dict>
</plist>
