<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-GK05-2-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1763,791},{128,152}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,152}}</string>
                <key>sourceSize</key>
                <string>{128,152}</string>
            </dict>
            <key>SL-GK05-2-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1600,791},{161,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,172}}</string>
                <key>sourceSize</key>
                <string>{161,172}</string>
            </dict>
            <key>SL-GK05-2-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1432,791},{166,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,193}}</string>
                <key>sourceSize</key>
                <string>{166,193}</string>
            </dict>
            <key>SL-GK05-2-DA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,828},{177,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,216}}</string>
                <key>sourceSize</key>
                <string>{177,216}</string>
            </dict>
            <key>SL-GK05-2-DA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,616},{187,210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,210}}</string>
                <key>sourceSize</key>
                <string>{187,210}</string>
            </dict>
            <key>SL-GK05-2-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1022,1210}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1022,1210}}</string>
                <key>sourceSize</key>
                <string>{1022,1210}</string>
            </dict>
            <key>SL-GK05-3-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,528},{432,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,261}}</string>
                <key>sourceSize</key>
                <string>{432,261}</string>
            </dict>
            <key>SL-GK05-3-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,265},{432,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,261}}</string>
                <key>sourceSize</key>
                <string>{432,261}</string>
            </dict>
            <key>SL-GK05-3-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,2},{432,261}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{432,261}}</string>
                <key>sourceSize</key>
                <string>{432,261}</string>
            </dict>
            <key>SL-GK05-4-TM01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1214,2},{239,612}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{239,612}}</string>
                <key>sourceSize</key>
                <string>{239,612}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK05-IT.png</string>
            <key>size</key>
            <string>{1893,1026}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41b0b4315c31082547155606981ad3c7$</string>
            <key>textureFileName</key>
            <string>SL-GK05-IT.png</string>
        </dict>
    </dict>
</plist>
