<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>NPC-shoujiOKanniu01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{421,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,182}}</string>
                <key>sourceSize</key>
                <string>{421,182}</string>
            </dict>
            <key>NPC-shoujiOKanniu02.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,186},{387,166}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{387,166}}</string>
                <key>sourceSize</key>
                <string>{387,166}</string>
            </dict>
            <key>QQ01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,269},{131,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>QQ02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1332,524},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>chenggong-fenxiang01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,354},{292,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,145}}</string>
                <key>sourceSize</key>
                <string>{292,145}</string>
            </dict>
            <key>chenggong-fenxiang02.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,501},{268,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,135}}</string>
                <key>sourceSize</key>
                <string>{268,135}</string>
            </dict>
            <key>fenxiangdaodibu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,652}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,652}}</string>
                <key>sourceSize</key>
                <string>{938,652}</string>
            </dict>
            <key>pengyouquan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,137},{130,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,132}}</string>
                <key>sourceSize</key>
                <string>{130,132}</string>
            </dict>
            <key>pengyouquan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,524},{117,119}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{117,119}}</string>
                <key>sourceSize</key>
                <string>{117,119}</string>
            </dict>
            <key>weibo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1236,354},{131,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>weibo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,501},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
            <key>weixin01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,2},{131,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{131,133}}</string>
                <key>sourceSize</key>
                <string>{131,133}</string>
            </dict>
            <key>weixin02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1369,404},{118,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,120}}</string>
                <key>sourceSize</key>
                <string>{118,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fengxiangtuankaung.png</string>
            <key>size</key>
            <string>{1573,656}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e6346f192b006c002f9a0ec3f4fe62d6$</string>
            <key>textureFileName</key>
            <string>fengxiangtuankaung.png</string>
        </dict>
    </dict>
</plist>
