<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SZ2-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1721},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1530},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1339},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1148},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,957},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,575},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,193},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
            <key>SZ2-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{191,189}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,189}}</string>
                <key>sourceSize</key>
                <string>{191,189}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SZ2.png</string>
            <key>size</key>
            <string>{195,1912}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cda250420432aec77ef7a6b744710a3e$</string>
            <key>textureFileName</key>
            <string>SZ2.png</string>
        </dict>
    </dict>
</plist>
