<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SZ4-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ4-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SZ4.png</string>
            <key>size</key>
            <string>{213,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:49d7ba94a0cc4a8cfa2ebe01381ec7ac$</string>
            <key>textureFileName</key>
            <string>SZ4.png</string>
        </dict>
    </dict>
</plist>
