<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SZ6-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1650},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1444},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1238},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1032},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,826},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,620},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
            <key>SZ6-09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,204}}</string>
                <key>sourceSize</key>
                <string>{209,204}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SZ6.png</string>
            <key>size</key>
            <string>{213,1856}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ae0fb47a1eb6cd22d7b2415549583e44$</string>
            <key>textureFileName</key>
            <string>SZ6.png</string>
        </dict>
    </dict>
</plist>
