<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-GK012-1-MS01.png</key>
            <dict>
                <key>frame</key>
                <string>{{796,421},{341,456}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{341,456}}</string>
                <key>sourceSize</key>
                <string>{341,456}</string>
            </dict>
            <key>SL-GK012-1-MS02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,785},{463,723}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{463,723}}</string>
                <key>sourceSize</key>
                <string>{463,723}</string>
            </dict>
            <key>SL-GK012-1-MS03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{493,792}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{493,792}}</string>
                <key>sourceSize</key>
                <string>{493,792}</string>
            </dict>
            <key>SL-GK012-1-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{142,1038}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,1038}}</string>
                <key>sourceSize</key>
                <string>{142,1038}</string>
            </dict>
            <key>SL-GK012-1-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{142,871}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,871}}</string>
                <key>sourceSize</key>
                <string>{142,871}</string>
            </dict>
            <key>SL-GK012-2-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1632},{183,318}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,318}}</string>
                <key>sourceSize</key>
                <string>{183,318}</string>
            </dict>
            <key>SL-GK012-2-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,1454},{273,291}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,291}}</string>
                <key>sourceSize</key>
                <string>{273,291}</string>
            </dict>
            <key>SL-GK012-2-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1414},{428,216}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{428,216}}</string>
                <key>sourceSize</key>
                <string>{428,216}</string>
            </dict>
            <key>SL-GK012-2-DA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{875,146},{273,269}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,269}}</string>
                <key>sourceSize</key>
                <string>{273,269}</string>
            </dict>
            <key>SL-GK012-2-DA05.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1729},{243,169}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{243,169}}</string>
                <key>sourceSize</key>
                <string>{243,169}</string>
            </dict>
            <key>SL-GK012-3-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1763},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>SL-GK012-3-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1454},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>SL-GK012-3-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,1763},{167,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,168}}</string>
                <key>sourceSize</key>
                <string>{167,168}</string>
            </dict>
            <key>SL-GK012-3-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{692,202}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{692,202}}</string>
                <key>sourceSize</key>
                <string>{692,202}</string>
            </dict>
            <key>SL-GK012-3-TM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1454},{171,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,171}}</string>
                <key>sourceSize</key>
                <string>{171,171}</string>
            </dict>
            <key>SL-GK012-4-TM-ying.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,1632},{372,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,129}}</string>
                <key>sourceSize</key>
                <string>{372,129}</string>
            </dict>
            <key>SL-GK012-4-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1729},{392,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,250}}</string>
                <key>sourceSize</key>
                <string>{392,250}</string>
            </dict>
            <key>SL-GK012-4-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,1152},{392,260}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,260}}</string>
                <key>sourceSize</key>
                <string>{392,260}</string>
            </dict>
            <key>SL-GK012-4-TM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{727,879},{392,271}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,271}}</string>
                <key>sourceSize</key>
                <string>{392,271}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK12-IT.png</string>
            <key>size</key>
            <string>{1146,1981}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:648bd217780e7b038e85a7ad0f97467f$</string>
            <key>textureFileName</key>
            <string>SL-GK12-IT.png</string>
        </dict>
    </dict>
</plist>
