<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-GK06-1-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1568,1232},{212,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{212,171}}</string>
                <key>sourceSize</key>
                <string>{212,171}</string>
            </dict>
            <key>SL-GK06-1-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1351,1232},{215,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{215,188}}</string>
                <key>sourceSize</key>
                <string>{215,188}</string>
            </dict>
            <key>SL-GK06-1-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1140},{191,191}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,191}}</string>
                <key>sourceSize</key>
                <string>{191,191}</string>
            </dict>
            <key>SL-GK06-1-TM01-BACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,882},{256,256}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{256,256}}</string>
                <key>sourceSize</key>
                <string>{306,288}</string>
            </dict>
            <key>SL-GK06-1-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,316},{306,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,288}}</string>
                <key>sourceSize</key>
                <string>{306,288}</string>
            </dict>
            <key>SL-GK06-1-TM02-BACK.png</key>
            <dict>
                <key>frame</key>
                <string>{{1726,624},{256,256}}</string>
                <key>offset</key>
                <string>{18,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,24},{256,256}}</string>
                <key>sourceSize</key>
                <string>{306,288}</string>
            </dict>
            <key>SL-GK06-1-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,752},{306,288}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{306,288}}</string>
                <key>sourceSize</key>
                <string>{306,288}</string>
            </dict>
            <key>SL-GK06-3-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1904,1333},{161,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,126}}</string>
                <key>sourceSize</key>
                <string>{161,126}</string>
            </dict>
            <key>SL-GK06-3-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1741,1333},{161,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,126}}</string>
                <key>sourceSize</key>
                <string>{161,126}</string>
            </dict>
            <key>SL-GK06-3-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,130},{161,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,126}}</string>
                <key>sourceSize</key>
                <string>{161,126}</string>
            </dict>
            <key>SL-GK06-3-DA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1876,2},{161,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,126}}</string>
                <key>sourceSize</key>
                <string>{161,126}</string>
            </dict>
            <key>SL-GK06-3-IT01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{753,833}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{753,833}}</string>
                <key>sourceSize</key>
                <string>{753,833}</string>
            </dict>
            <key>SL-GK06-3-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,316},{958,434}}</string>
                <key>offset</key>
                <string>{-3,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,314},{958,434}}</string>
                <key>sourceSize</key>
                <string>{1048,804}</string>
            </dict>
            <key>SL-GK06-3-TS.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,752},{76,80}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,9},{76,80}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>SL-GK06-4-IT01.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,2},{1117,312}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1117,312}}</string>
                <key>sourceSize</key>
                <string>{1117,312}</string>
            </dict>
            <key>SL-GK06-4-IT02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1436,1060},{216,170}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{216,170}}</string>
                <key>sourceSize</key>
                <string>{250,190}</string>
            </dict>
            <key>SL-GK06-4-IT03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,837},{1012,344}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1012,344}}</string>
                <key>sourceSize</key>
                <string>{1012,344}</string>
            </dict>
            <key>SL-GK06-4-IT04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1183},{1012,328}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1012,328}}</string>
                <key>sourceSize</key>
                <string>{1012,328}</string>
            </dict>
            <key>SL-GK06-4-IT05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1513},{14,381}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,381}}</string>
                <key>sourceSize</key>
                <string>{14,381}</string>
            </dict>
            <key>SL-GK06-4-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,752},{418,423}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{418,423}}</string>
                <key>sourceSize</key>
                <string>{418,423}</string>
            </dict>
            <key>SL-GK06-4-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,1177},{333,332}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{333,332}}</string>
                <key>sourceSize</key>
                <string>{333,332}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK06-IT.png</string>
            <key>size</key>
            <string>{2039,1539}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e1878354814accb60a716a8b5e460852$</string>
            <key>textureFileName</key>
            <string>SL-GK06-IT.png</string>
        </dict>
    </dict>
</plist>
