<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>HY-GK07-1-kuang.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,162},{208,297}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{208,297}}</string>
                <key>sourceSize</key>
                <string>{214,301}</string>
            </dict>
            <key>SL-GK07-1-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,586},{123,273}}</string>
                <key>offset</key>
                <string>{-1,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{35,22},{123,273}}</string>
                <key>sourceSize</key>
                <string>{195,299}</string>
            </dict>
            <key>SL-GK07-1-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1683,2},{181,307}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{181,307}}</string>
                <key>sourceSize</key>
                <string>{189,307}</string>
            </dict>
            <key>SL-GK07-1-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{974,372},{196,274}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{196,274}}</string>
                <key>sourceSize</key>
                <string>{210,300}</string>
            </dict>
            <key>SL-GK07-1-IT-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,171},{337,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,253}}</string>
                <key>sourceSize</key>
                <string>{337,253}</string>
            </dict>
            <key>SL-GK07-1-IT-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,464},{89,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{89,125}}</string>
                <key>sourceSize</key>
                <string>{89,125}</string>
            </dict>
            <key>SL-GK07-1-TM01-D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,185},{132,186}}</string>
                <key>offset</key>
                <string>{-5,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{132,186}}</string>
                <key>sourceSize</key>
                <string>{142,204}</string>
            </dict>
            <key>SL-GK07-1-TM02-D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,545},{84,185}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{23,15},{84,185}}</string>
                <key>sourceSize</key>
                <string>{132,203}</string>
            </dict>
            <key>SL-GK07-1-TM03-D.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,162},{124,208}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{124,208}}</string>
                <key>sourceSize</key>
                <string>{128,208}</string>
            </dict>
            <key>SL-GK07-2-DA01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,476},{189,108}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,108}}</string>
                <key>sourceSize</key>
                <string>{189,108}</string>
            </dict>
            <key>SL-GK07-2-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,422},{206,117}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,117}}</string>
                <key>sourceSize</key>
                <string>{206,117}</string>
            </dict>
            <key>SL-GK07-2-DA02-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{851,586},{136,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,135}}</string>
                <key>sourceSize</key>
                <string>{136,135}</string>
            </dict>
            <key>SL-GK07-2-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1855,373},{147,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,144}}</string>
                <key>sourceSize</key>
                <string>{147,144}</string>
            </dict>
            <key>SL-GK07-2-DA03-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1240,606},{173,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,143}}</string>
                <key>sourceSize</key>
                <string>{173,143}</string>
            </dict>
            <key>SL-GK07-2-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1553,372},{171,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{171,144}}</string>
                <key>sourceSize</key>
                <string>{171,144}</string>
            </dict>
            <key>SL-GK07-2-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1415,631},{185,103}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{185,103}}</string>
                <key>sourceSize</key>
                <string>{185,103}</string>
            </dict>
            <key>SL-GK07-2-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1740,525},{130,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,130}}</string>
                <key>sourceSize</key>
                <string>{130,130}</string>
            </dict>
            <key>SL-GK07-2-TM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,586},{168,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{168,137}}</string>
                <key>sourceSize</key>
                <string>{168,137}</string>
            </dict>
            <key>SL-GK07-3-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1327,2},{354,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,158}}</string>
                <key>sourceSize</key>
                <string>{354,158}</string>
            </dict>
            <key>SL-GK07-3-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,426},{353,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{353,158}}</string>
                <key>sourceSize</key>
                <string>{355,158}</string>
            </dict>
            <key>SL-GK07-3-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,2},{354,158}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{354,158}}</string>
                <key>sourceSize</key>
                <string>{354,158}</string>
            </dict>
            <key>SL-GK07-4-DA01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1699,369},{154,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,154}}</string>
                <key>sourceSize</key>
                <string>{154,154}</string>
            </dict>
            <key>SL-GK07-4-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{989,570},{167,167}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,167}}</string>
                <key>sourceSize</key>
                <string>{167,167}</string>
            </dict>
            <key>SL-GK07-4-DA02-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1602,657},{154,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,52}}</string>
                <key>sourceSize</key>
                <string>{154,52}</string>
            </dict>
            <key>SL-GK07-4-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1674,185},{182,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,196}}</string>
                <key>sourceSize</key>
                <string>{182,196}</string>
            </dict>
            <key>SL-GK07-4-DA03-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1872,519},{141,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,141}}</string>
                <key>sourceSize</key>
                <string>{141,141}</string>
            </dict>
            <key>SL-GK07-4-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1158,570},{182,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,80}}</string>
                <key>sourceSize</key>
                <string>{182,80}</string>
            </dict>
            <key>SL-GK07-4-DA04-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,586},{154,168}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,168}}</string>
                <key>sourceSize</key>
                <string>{154,168}</string>
            </dict>
            <key>SL-GK07-4-DA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,422},{182,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,182}}</string>
                <key>sourceSize</key>
                <string>{182,182}</string>
            </dict>
            <key>SL-GK07-4-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,171},{302,303}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{302,303}}</string>
                <key>sourceSize</key>
                <string>{302,303}</string>
            </dict>
            <key>SL-GK07-4-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,171},{291,311}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{291,311}}</string>
                <key>sourceSize</key>
                <string>{291,311}</string>
            </dict>
            <key>SL-GK07-4-TM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{277,278}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{277,278}}</string>
                <key>sourceSize</key>
                <string>{277,278}</string>
            </dict>
            <key>SL-GK07-4-TM04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,162},{258,276}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,276}}</string>
                <key>sourceSize</key>
                <string>{258,276}</string>
            </dict>
            <key>SL-GK07-4-TM06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{167,967}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,967}}</string>
                <key>sourceSize</key>
                <string>{167,967}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK07-IT.png</string>
            <key>size</key>
            <string>{2016,756}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7e114e3c04fc791414cd80251f7df536$</string>
            <key>textureFileName</key>
            <string>SL-GK07-IT.png</string>
        </dict>
    </dict>
</plist>
