<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-GK01-4-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,382},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,186}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>SL-GK01-4-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,192},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>SL-GK01-4-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>SL-GK01-4-IT02-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{288,281}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{288,281}}</string>
                <key>sourceSize</key>
                <string>{288,281}</string>
            </dict>
            <key>SL-GK01-4-TM01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{808,793}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,793}}</string>
                <key>sourceSize</key>
                <string>{808,793}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK01-4-DA01.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dad4d1b0af5e9ce4f2e12945b6aa63f0$</string>
            <key>textureFileName</key>
            <string>SL-GK01-4-DA01.png</string>
        </dict>
    </dict>
</plist>
