<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-GK01-2-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,374},{265,240}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{265,240}}</string>
                <key>sourceSize</key>
                <string>{265,240}</string>
            </dict>
            <key>SL-GK01-2-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{487,2},{160,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,241}}</string>
                <key>sourceSize</key>
                <string>{160,241}</string>
            </dict>
            <key>SL-GK01-2-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,354},{231,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{231,253}}</string>
                <key>sourceSize</key>
                <string>{231,253}</string>
            </dict>
            <key>SL-GK01-2-DA04.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,2},{150,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,253}}</string>
                <key>sourceSize</key>
                <string>{150,253}</string>
            </dict>
            <key>SL-GK01-2-TM01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{259,230}}</string>
                <key>offset</key>
                <string>{-4,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{259,230}}</string>
                <key>sourceSize</key>
                <string>{267,244}</string>
            </dict>
            <key>SL-GK01-2-TM01-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{135,228}}</string>
                <key>offset</key>
                <string>{8,50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,0},{135,228}}</string>
                <key>sourceSize</key>
                <string>{167,328}</string>
            </dict>
            <key>SL-GK01-2-TM01-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,164},{208,221}}</string>
                <key>offset</key>
                <string>{2,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,22},{208,221}}</string>
                <key>sourceSize</key>
                <string>{248,259}</string>
            </dict>
            <key>SL-GK01-4-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,139},{186,186}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{186,186}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>SL-GK01-4-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,164},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>SL-GK01-4-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,154},{188,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,188}}</string>
                <key>sourceSize</key>
                <string>{188,188}</string>
            </dict>
            <key>SL-GK01-4-TM01-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,616},{808,793}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{808,793}}</string>
                <key>sourceSize</key>
                <string>{808,793}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK01-IT.png</string>
            <key>size</key>
            <string>{797,1426}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:af3c88b31aebe437204057213f0bcaaf$</string>
            <key>textureFileName</key>
            <string>SL-GK01-IT.png</string>
        </dict>
    </dict>
</plist>
