<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>SL-GK11-1-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1040},{392,250}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,250}}</string>
                <key>sourceSize</key>
                <string>{392,250}</string>
            </dict>
            <key>SL-GK11-1-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,782},{392,256}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,256}}</string>
                <key>sourceSize</key>
                <string>{392,256}</string>
            </dict>
            <key>SL-GK11-1-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{954,968},{392,254}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,254}}</string>
                <key>sourceSize</key>
                <string>{392,254}</string>
            </dict>
            <key>SL-GK11-2-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,246},{242,241}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,241}}</string>
                <key>sourceSize</key>
                <string>{242,241}</string>
            </dict>
            <key>SL-GK11-2-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,710},{256,213}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,213}}</string>
                <key>sourceSize</key>
                <string>{256,213}</string>
            </dict>
            <key>SL-GK11-2-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,2},{242,242}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{242,242}}</string>
                <key>sourceSize</key>
                <string>{242,242}</string>
            </dict>
            <key>SL-GK11-2-TM01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1340},{556,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,556}}</string>
                <key>sourceSize</key>
                <string>{556,556}</string>
            </dict>
            <key>SL-GK11-2-TM02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{556,556}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{556,556}}</string>
                <key>sourceSize</key>
                <string>{556,556}</string>
            </dict>
            <key>SL-GK11-2-TM03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1002,489},{219,219}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{219,219}}</string>
                <key>sourceSize</key>
                <string>{219,219}</string>
            </dict>
            <key>SL-GK11-3-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1292},{370,310}}</string>
                <key>offset</key>
                <string>{7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,20},{370,310}}</string>
                <key>sourceSize</key>
                <string>{384,346}</string>
            </dict>
            <key>SL-GK11-3-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{560,1604},{335,316}}</string>
                <key>offset</key>
                <string>{-2,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{335,316}}</string>
                <key>sourceSize</key>
                <string>{339,326}</string>
            </dict>
            <key>SL-GK11-3-DA03.png</key>
            <dict>
                <key>frame</key>
                <string>{{932,1362},{302,341}}</string>
                <key>offset</key>
                <string>{1,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{302,341}}</string>
                <key>sourceSize</key>
                <string>{308,345}</string>
            </dict>
            <key>SL-GK11-4-DA01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1050,1705},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>SL-GK11-4-DA02.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,1705},{170,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{170,170}}</string>
                <key>sourceSize</key>
                <string>{172,172}</string>
            </dict>
            <key>SL-GK11-4-TM01-C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,587},{998,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,193}}</string>
                <key>sourceSize</key>
                <string>{998,193}</string>
            </dict>
            <key>SL-GK11-4-TM01-D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{998,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,193}}</string>
                <key>sourceSize</key>
                <string>{998,193}</string>
            </dict>
            <key>SL-GK11-4-TM02-C.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{998,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,193}}</string>
                <key>sourceSize</key>
                <string>{998,193}</string>
            </dict>
            <key>SL-GK11-4-TM02-D.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{998,193}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{998,193}}</string>
                <key>sourceSize</key>
                <string>{998,193}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>SL-GK11-IT.png</string>
            <key>size</key>
            <string>{1246,1968}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d584fc768792fdae902dfa268af103ec$</string>
            <key>textureFileName</key>
            <string>SL-GK11-IT.png</string>
        </dict>
    </dict>
</plist>
