<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>BG-xiaodian01.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,553},{188,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,182}}</string>
                <key>sourceSize</key>
                <string>{188,182}</string>
            </dict>
            <key>BG-xiaodian02.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,207},{177,146}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,146}}</string>
                <key>sourceSize</key>
                <string>{177,146}</string>
            </dict>
            <key>BG-xiaodian03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,553},{259,251}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{259,251}}</string>
                <key>sourceSize</key>
                <string>{259,251}</string>
            </dict>
            <key>BG-xiaodian04.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,386},{139,121}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{139,121}}</string>
                <key>sourceSize</key>
                <string>{139,121}</string>
            </dict>
            <key>BG-xiaodian05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{549,317}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{549,317}}</string>
                <key>sourceSize</key>
                <string>{549,317}</string>
            </dict>
            <key>BG-xiaodian06.png</key>
            <dict>
                <key>frame</key>
                <string>{{321,2},{203,151}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{203,151}}</string>
                <key>sourceSize</key>
                <string>{203,151}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>BG-xiaodian.png</string>
            <key>size</key>
            <string>{474,806}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c2d700cdc4249f57ca16539279c34275$</string>
            <key>textureFileName</key>
            <string>BG-xiaodian.png</string>
        </dict>
    </dict>
</plist>
