<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TS-01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,813},{822,154}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{822,154}}</string>
                <key>sourceSize</key>
                <string>{822,154}</string>
            </dict>
            <key>TS-02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1939,691},{496,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{496,98}}</string>
                <key>sourceSize</key>
                <string>{496,98}</string>
            </dict>
            <key>TS-03.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,558},{799,253}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{799,253}}</string>
                <key>sourceSize</key>
                <string>{799,253}</string>
            </dict>
            <key>TS-04.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1061},{717,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{717,90}}</string>
                <key>sourceSize</key>
                <string>{717,90}</string>
            </dict>
            <key>TS-05.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,969},{718,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{718,90}}</string>
                <key>sourceSize</key>
                <string>{718,90}</string>
            </dict>
            <key>TS-06.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1153},{605,163}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{605,163}}</string>
                <key>sourceSize</key>
                <string>{605,163}</string>
            </dict>
            <key>ZTXZ-baidian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1972,2},{52,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,52}}</string>
                <key>sourceSize</key>
                <string>{52,52}</string>
            </dict>
            <key>ZTXZ-dian.png</key>
            <dict>
                <key>frame</key>
                <string>{{1661,969},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,44}}</string>
                <key>sourceSize</key>
                <string>{44,44}</string>
            </dict>
            <key>ZTXZ-goumai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1364,1318},{421,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,182}}</string>
                <key>sourceSize</key>
                <string>{421,182}</string>
            </dict>
            <key>ZTXZ-goumai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,691},{410,171}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{410,171}}</string>
                <key>sourceSize</key>
                <string>{410,171}</string>
            </dict>
            <key>ZTXZ-goumaioditu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{937,661}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{937,661}}</string>
                <key>sourceSize</key>
                <string>{937,661}</string>
            </dict>
            <key>ZTXZ-shiwan01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1743,544},{292,145}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{292,145}}</string>
                <key>sourceSize</key>
                <string>{292,145}</string>
            </dict>
            <key>ZTXZ-shiwan02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1787,1314},{268,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{268,135}}</string>
                <key>sourceSize</key>
                <string>{268,135}</string>
            </dict>
            <key>ZTXZ-suo01.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{519,554}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{519,554}}</string>
                <key>sourceSize</key>
                <string>{519,554}</string>
            </dict>
            <key>ZTXZ-suo02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1463,2},{507,540}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{507,540}}</string>
                <key>sourceSize</key>
                <string>{507,540}</string>
            </dict>
            <key>ZTXZ-suozhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{938,916}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{938,916}}</string>
                <key>sourceSize</key>
                <string>{938,916}</string>
            </dict>
            <key>ZTXZ-yigoumai01.png</key>
            <dict>
                <key>frame</key>
                <string>{{941,1318},{421,182}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{421,182}}</string>
                <key>sourceSize</key>
                <string>{421,182}</string>
            </dict>
            <key>ZTXZ-yigoumai02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1548,1153},{366,159}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{366,159}}</string>
                <key>sourceSize</key>
                <string>{366,159}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>zhitixuanze01.png</string>
            <key>size</key>
            <string>{2039,1584}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:db9e7440809904b1137cb88d71f0f935$</string>
            <key>textureFileName</key>
            <string>zhitixuanze01.png</string>
        </dict>
    </dict>
</plist>
